<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7GAS - Relatório Financeiro II</title>
    <style>
           {#asset assets/bootstrap.min.css @encoding=utf8}
           {#asset assets/reports.css @encoding=utf8}
    </style>

   
</head>

<body>


    <table>
        <tr>
            <th colspan="3" rowspan="2"> <img width="128" height="128" src='{#asset assets/7gas-logo.png @encoding=dataURI}'></th>
            <th>CNPJ:</th>
            <th>{{{company.cnpj}}}</th>
        </tr>
        <tr>
            <td>Emissão:</td>
            <td>{{{issueDate}}}</td>
        </tr>
        <tr>
            <td colspan="3">Vendas efetuadas em: {{{salesDate}}}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">Operadora {{{operator.name}}}</td>
            <td>Quantidade de transações</td>
            <td>{{{transactionCount}}}</td>
        </tr>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Transação</th>
                <th>Data/Hora</th>
                <th>Bandeira</th>
                <th>Valor Venda</th>
                <th>Taxa Básica</th>
                <th>Desconto</th>
                <th>Líquido a receber</th>
            </tr>
        </thead>
        <tbody>
            {{#each sales.trasactions}}
            <tr>
                <td>#{{id}}</td>
                <td>{{datetime}}</td>
                <td>{{creditCardFlag}}</td>
                <td>{{transactionValue}}</td>
                <td>{{fee}}</td>
                <td>{{discount}}</td>
                <td>{{netValue}}</td>
            </tr>
            {{/each}}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td><strong>{{{sales.totalsPerColumns.transactionValue}}}</strong></td>
                <td><strong>{{{sales.totalsPerColumns.fee}}}</strong> </td>
                <td><strong>{{{sales.totalsPerColumns.discount}}}</strong></td>
                <td><strong>{{{sales.totalsPerColumns.netValue}}}</strong></td>
            </tr>
        </tfoot>
    </table>
</body>
</html>