<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7GAS - Relatório Financeiro II</title>
    <style>
        {#asset assets/bootstrap.min.css @encoding=utf8}

        {#asset assets/reports.css @encoding=utf8}
    </style>


</head>

<body>


    formatNumber:   {{formatNumber 100 style="currency" currency="BRL"}}



    <table>
        <tr>
            <th colspan="3" rowspan="2"> <img width="128" height="128" src='{#asset assets/7gas-logo.png @encoding=dataURI}'></th>
            <th>CNPJ:</th>
            <th>{{{header.gasstation.cnpj}}}</th>
        </tr>
        <tr>
            <td>Emissão:</td>
            <td>{{{header.issueDate}}}</td>
        </tr>
        <tr>
            <td colspan="3">Vendas por periodo em: {{{startDate}}} a {{{endDate}}}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">Operadora {{{header.paymentServiceProvider.name}}}</td>
            <td>Quantidade de transações</td>
            <td>{{{header.transactionCount}}}</td>
        </tr>
    </table>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Transação</th>
                <th>Data/Hora</th>
                <th>Bandeira</th>
                <th>Valor Venda</th>
                <th>Taxa Básica</th>
                <th>Desconto</th>
                <th>Líquido a receber</th>
            </tr>
        </thead>
        <tbody>
            {{#forEach body}}
            <tr>
                <td colspan="7">
                    <h6>{{groupKey}}</h6>
                </td>
            </tr>
            {{#forEach groupItems}}
            <tr>
                <td>#{{sale.id}}</td>
                <td>{{sale.date}}</td>
                <td>{{sale.payment.creditcard.flag}}</td>
                <td>{{sale.payment.totalValue}}

                    
                </td>
                <td>{{sale.payment.fee}}</td>
                <td>{{sale.payment.discount}}</td>
                <td>{{sale.payment.netValue}}</td>
            </tr>
            {{/forEach}}
           
                {{#unless isLast}}, {{/unless}}
            {{/forEach}}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td><strong>{{{footer.totalsPerColumns.totalValue}}}</strong></td>
                <td><strong>{{{footer.totalsPerColumns.fee}}}</strong> </td>
                <td><strong>{{{footer.totalsPerColumns.discount}}}</strong></td>
                <td><strong>{{{footer.totalsPerColumns.netValue}}}</strong></td>
            </tr>
        </tfoot>
    </table>

</body>

</html>